@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Merriweather:wght@700&family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Merriweather:wght@700&family=Roboto:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}
::selection{
    background: rgba(133,187,101, 0.2);
  }
  header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
	background-color: rgba(133,187,101);
	justify-content: space-between;
	align-items: center;
    padding: 10px 10px;
    transition: 0.2s;
    z-index: 1;
}
body{
    place-items: center;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: white;
}
@keyframes slider{
    0%{
        left: 0;
    }
    20%{
        left: 0;
    }
    25%{
        left: -100%;
    }
    45%{
        left: -100%;
    }
    50%{
        left: -200%;
    }
    70%{
        left: -200%;
    }
    75%{
        left: -300%;
    }
    95%{
        left: -300%;
    }
    100%{
        left: -400%;
    }
}

.text{
    text-align: center;
    color: #666666;
    margin: 1% 7%;
    font-size: 1.1em;
    text-indent: 5px;
    line-height: 34px;
}
.announcements{
    text-align: center;
    margin:  0% 10%;
    color: #d7b94b;
    font-weight: 600;
    font-family: Merriweather;
    font-size: 4em;
}

.blog-post{
    font-family: 'Lora', serif;
	font-size: 2em;
    width: 85%;
	align-items: center;
	background-color: #eee;
	background-color: #fff;
	box-shadow: 0 1.4em 8rem rgba(0,0,0,.2);
	display: flex;
	border-radius: .8rem;
}

.blog-post_img{
	min-width: 18rem;
	max-width:18rem;
	transform: translateX(-3rem);
	position: relative;
}

.blog-post_img img{
    max-width:18rem;
    height:18rem;
	object-fit: cover;
	display: block;
	border-radius: .8rem;
}

.blog-post_date span{
	display: block;
	color: rgba(0, 0, 0, .5);
	font-size: 1rem;
	font-weight: 600;
    font-family: 'Lora', serif;
	margin: 0rem 0;
}

.blog-post_title {
	font-size: 2rem;
	margin: 1rem 0 1rem;
    font-weight: 800;
	text-transform: uppercase;
	color: rgb(82, 148, 44, 0.7);
}

.blog-post_text{
	margin-bottom: 3rem;
	font-size: 1rem;
    font-family: 'Lora', serif;
	color: rgba(0, 0, 0, .7);
}


@media screen and (max-width: 1068px){
	.blog-post{

		max-width: 95%;
	}
	.blog-post_img{
        margin-top: 0%;
		min-width: 18rem;
	    max-width: 18rem;
		
	}
}


@media screen and (max-width: 868px){
	.blog-post{
		max-width: 90%;
	}
	
}
@media screen and (max-width: 800px){
	.blog-post{
		max-width: 90%;
	}
	
}
@media screen and (max-width: 768px){
	.blog-post{
		padding: 2rem;
		flex-direction: column;
	}
	.blog-post_img{
        margin: 15%;
		min-width: 18rem;
		max-width: 18rem;
		transform: translate(0, -3rem);
	}
}
  @media screen and (max-width: 600px){
	.accorionbutton{
		margin: 2% 25%;
	}
	
}

@media screen and (max-width: 990px) and (min-width: 200px){
    .cab{
        font-size: 3.5em;
        text-align: center;
    }
    .sumacab{
        font-size: 2em;
        text-align: center;
    }
    .announcements{
        font-size: 2.7em;
        text-align: center;
    }
}
@viewport{
    zoom: 1.0;
    width: extend-to-zoom;
}
@-ms-viewport{
    zoom: 1.0;
    width: extend-to-zoom;
}